<strong>Olá, {{ student }}</strong>
<p>Esse é apenas um email de confirmação para podemos confirmar seu registrio:</p>
<p>
  <strong>Continue clicando no link abaixo para podemos prosseguir com seu cadastro: </strong> <br />
  <strong>Link: </strong> <a href="{{ link }}">Clique aqui</a> <br />
  <br />
  <small>
    Seja bem vindo!
  </small>
</p>
